body {
  font-family: 'Arial', sans-serif;
  background-image: url("C:\Users\Bharath\Downloads\tttt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#head {
  font-size: 36px;
  margin-bottom: 20px;
}

#p {
  font-size: 24px;
  margin-top: 10px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9d8ed; 
  padding: 40px 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.players {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.players div {
  font-size: 20px;
  font-weight: bold;
}

.winner {
  font-size: 28px;
  color: green;
}

.board-row {
  display: flex;
}

.square {
  width: 100px;
  height: 100px;
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.square:hover {
  background-color: #ddd;
}

.square.X {
  color: rgb(238, 114, 114);
  font-size: 40px;
  align-items: center;
}

.square.O {
  color: rgb(12, 89, 183);
  font-size: 40px;
  align-items: center;

}

.winning-square {
  background-color: rgb(38, 255, 0);
}

.game-info {
  margin-left: 30px;
}

.player-setup {
  text-align: center;
}

.player-setup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-setup div {
  margin: 20px 0;
}

.player-setup input[type="text"] {
  width: 200px; /* Increase width of input fields */
  height: 30px;
  font-size: 18px; /* Increase font size */
  font-weight: bold; /* Make text bold */
}
.player-setup label{
  font-size: 25px;
  color:black;
}
